#include "Flutter/Generated.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-pre_production.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-pre_production.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile-pre_production.xcconfig"

FLUTTER_TARGET=lib/flavors/main_pre_production.dart
